<!-- Module Dependencies -->
- if(false) {

    block append css
        include ./css/skin.css

- }


<!-- Legal Footer -->
.legal-footer
    .container
        p.legal-footer__text
            | These statements have not been evaluated by the Food and Drug Administration. This product is not intended to diagnose, treat, cure or prevent any disease. Use only as directed. Consult your healthcare provider before using supplements or providing supplements to children under the age of 18. The information provided herein is intended for your general knowledge only and is not intended to be, nor is it, medical advice or a substitute for medical advice. If you have or suspect you have, a specific medical condition or disease, please consult your healthcare provider.

<!-- Copyright Footer -->
.copyright-footer
    .container
        p.copyright-footer__text
            | © 2018 Vitalifi LLC &nbsp
            a(href='#terms-conditions', data-toggle='modal', data-target='#terms-conditions') Terms & Conditions
            | &nbsp | &nbsp
            a(href='#privacy-policy', data-toggle='modal', data-target='#privacy-policy') Privacy Policy
            br
            |                 Vitalifi, LLC | 1603 Capitol Ave. | Suite 310 A401 Cheyenne, Wyoming 82001