/* Legal Footer */
.legal-footer {
    background: #373737;
    width: 100%;
}
.legal-footer__text {
    color: #bcbcbc;
    text-align: center;
    font-size: 0.8em;
    padding: 15px 0px 10px 0px;
}


/* Copyright Footer */
.copyright-footer {
    background: #191919;
    width: 100%;
}
.copyright-footer__text {
    color: #bcbcbc;
    text-align: center;
    font-size: 0.8em;
}