div.money-back-guarantee(style='border: 2px solid #000000;padding: 15px;margin: 20px 0 20px 0;')
 img.center-block(src='https://d1p10q174zjo77.cloudfront.net/template/order/img/guarantee-badge.png', alt='100% Money Back Guarantee')
 h5 365-Day Money Back Guarantee
 p(style='margin:0;padding:0;')
   | 'You're protected by my no-hassle, 365-Day Guarantee. If you don't love the this exclusive package, for any reason, just call or email and you'll get back every penny.'
 img.center-block.img-responsive(src='https://d1p10q174zjo77.cloudfront.net/template/order/img/christan-houston-signature.png', alt='Christian Hudson signature')