/**
* Countdown 
*/

.countdown {
    padding: 7px;
    bottom: 20px;
    right: 20px;
    width: 120px;
    border-radius: 5px;
    border: 1px solid #b8b8b8;
    background: #e7e7e7;
    background: -webkit-linear-gradient(#fff, #e7e7e7);
    background: -o-linear-gradient(#fff, #e7e7e7);
    background: -moz-linear-gradient(#fff, #e7e7e7);
    background: linear-gradient(#fff, #e7e7e7);
    position: fixed;
    z-index: 9999;
}

.countdown__text {
    font-weight: 600;
    font-size: 11px
}

.time {
    font-size: 24px;
    font-weight: 900;
    color: #b30000;
}