<!-- Module Dependencies -->
- if(false) {

    block append css
        include ./css/skin.css

- }


<!-- Copyright Footer -->
.copyright-footer
    .container
        p.copyright-footer__text
            | © 2018 Marina Santos Fit | 111 Congress Ave, Suite 400 | Austin, TX 78701
            br
            a(href='#contact-us', data-toggle='modal', data-target='#contact-us') Contact Us
            | &nbsp | &nbsp
            a(href='#privacy-policy', data-toggle='modal', data-target='#privacy-policy') Privacy Policy