<!-- Module Dependencies -->

- if(false) {

  block append js
    include ../js/credit-card-detection/index.js
    include ../js/lime-light-payment/index.js

  block append css
    
    include ../css/credit-card-detection/index.css

    include ../css/button.css
    include ../css/alert.css

    <!-- Overwrite skin -->
    include ./css/skin.css
    include ../css/skeleton.css
    
- }




<!-- Processing Popup Modal -->
include ../../../../template/module/processing-modal


.alert.alert-danger.error-message
  strong Error
  .form-error

.center-block.payment-form
  h2.payment-form__h2 Enter your Contact Info:
  form#payment-form

    .row
      .col-xs-12
        span.payment-form__label.payment-form__label--dark Email Address
        input.payment-form__field.payment-form__field--full-width.payment-form__field--no-icon(type='text', name='emailAddress', placeholder='Email', tabindex='1', autocorrect='off', autocapitalize='off', spellcheck='false', autocomplete='email')
      .col-xs-12
        span.payment-form__label.payment-form__label--dark Confirm Email
        input.payment-form__field.payment-form__field--full-width.payment-form__field--no-icon(type='text', name='confirmEmailAddress', placeholder='Confirm Email', tabindex='2', autocorrect='off', autocapitalize='off', spellcheck='false')

    .row
      .col-xs-6
        span.payment-form__label.payment-form__label--dark First Name
        input.payment-form__field.payment-form__field--no-icon.payment-form__field--full-width(type='text', name='firstName', placeholder='First Name', tabindex='3', autocorrect='off', autocapitalize='off', spellcheck='false')
      .col-xs-6
        span.payment-form__label.payment-form__label--dark Last Name
        input.payment-form__field.payment-form__field--full-width.payment-form__field--no-icon(type='text', name='lastName', placeholder='Last Name', tabindex='4', autocorrect='off', autocapitalize='off', spellcheck='false')

    .row
      .col-xs-6
        span.payment-form__label.payment-form__label--dark Postal Code
        input.payment-form__field.payment-form__field--full-width.payment-form__field--no-icon(type='text', name='zip', placeholder='Zip', maxlength='7', tabindex='5', autocorrect='off', autocapitalize='off', spellcheck='false', autocomplete='postal-code')
      .col-xs-6
        span.payment-form__label.payment-form__label--dark Phone Number
        input.payment-form__field.payment-form__field--full-width.payment-form__field--no-icon(type='text', name='phoneNumber', placeholder='Phone', tabindex='6', autocorrect='off', autocapitalize='off', spellcheck='false', autocomplete='tel')

    .row
      .col-xs-12
        span.payment-form__label.payment-form__label--dark Card Number
        div
          div.payment-form__field--credit-card-icon.payment-form__field--unknown-credit-card(style='position:absolute;height:33px;')
          input#card_number.payment-form__field.payment-form__field--full-width.payment-form__field--right-icon(type='text', name='creditCardNumber', placeholder='Card Number', maxlength='23', tabindex='7', autocorrect='off', autocapitalize='off', spellcheck='false', autocomplete='cc-number')

        
    .row
      .col-xs-12
        .row
          .col-xs-9.col-sm-8
            span.payment-form__label.payment-form__label--dark Expiration Date
            .row
              .col-xs-6
                select.payment-form__field.payment-form__field--right-icon.full-width(name='expirationMonth', tabindex='8', autocorrect='off', autocapitalize='off', spellcheck='false')
                  option(selected='selected', value='') Month
                  option(value='01') 01
                  option(value='02') 02
                  option(value='03') 03
                  option(value='04') 04
                  option(value='05') 05
                  option(value='06') 06
                  option(value='07') 07
                  option(value='08') 08
                  option(value='09') 09
                  option(value='10') 10
                  option(value='11') 11
                  option(value='12') 12
              .col-xs-6
                select.payment-form__field.payment-form__field--right-icon.full-width(name='expirationYear', tabindex='9', style='padding: 7px 30px 7px 7px;', autocorrect='off', autocapitalize='off', spellcheck='false')
                  option(selected='selected', value='') Year
                  option(value='17') 2017
                  option(value='18') 2018
                  option(value='19') 2019
                  option(value='20') 2020
                  option(value='21') 2021
                  option(value='22') 2022
                  option(value='23') 2023
                  option(value='24') 2024
                  option(value='25') 2025
                  option(value='26') 2026
                  option(value='27') 2027
                  option(value='28') 2028
                  option(value='29') 2029
                  option(value='30') 2030
                  option(value='31') 2031
                  option(value='32') 2032
          .col-xs-3.col-sm-4
            span.payment-form__label.payment-form__label--dark CVC
            input.payment-form__field.payment-form__field--full-width.payment-form__field--no-icon.full-width(type='text', name='cvv', placeholder='CVC', maxlength='4', tabindex='10', autocorrect='off' autocapitalize='off' spellcheck='false', autocomplete='cc-csc')

            input(type='hidden', name='creditCardType', id='credit-card-type')
    .row
      .col-xs-12
        button.payment-form__button.center-block.button.button--orange-gradient.button--animation.margin-top-40.margin-bottom-20(tabindex='11') Please Enter a Valid Email to Lock in Your Discount